body{
    margin-top: 60px;
    width: 100%;
    height: auto;
    background-color: rgb(255, 251, 251);
    font-size: 18px;
    line-height: 28px;
    font-family: Fira Sans;
    font-style: normal;
}

main{
    width: 100%;
}

.section, .wrap, header {
    width: 1350px;
    margin: auto;
}

.header-menu, .title, .pictures, .arttext2, .block--applications,.brands-content, .brands-icons, .brands-text, .block-contacts, .block-news,.news-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   margin-bottom: 120px;

}
.title{
    margin-bottom: 65px;
}
.text{
    width: 540px;
    height: 140px;
}

.social-icons{
    align-self: flex-end;
    
}
i{
    padding: 5px;
    color: black;

}
.article1{
    display: flex;
    flex-direction: column;
    
}
div.article1>img{
margin: 20px 0 20px 0;

}
.pictures{
    margin-bottom: 45px;
}
div.pictures>img, .picture2{
   margin-top: 135px;
   margin-left: 15px;
   margin-right: 15px;
}
.picture2{
    background-image: url(../images/Placeholder\(2\).jpg);
    width: 350px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.play-button {
    width: 65px;
    height: 65px;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}

span{
   display: block;
   text-align: left;
   width: 540px;
   height: 90px;
   padding-right: 50px;
}
.arttext2{
    height: 290px;
    border-bottom: 1px solid gray;
    margin-bottom: 60px;
   
}
.button{
    width: 150px;
    height: 60px;
    background-color: orange;
    color: white;
    border: none;
    letter-spacing: 5px;
}

.block--applications{
   justify-content: flex-end; 
}
.title-block{
    margin-right: 100px;
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
}
.content-block{
    margin-right: 55px;
    text-align: left;
    width: 230px;
    padding-left: 15px;
}
h4{
    text-transform: uppercase;
    line-height: 24px;
}
.data-block{
    font-weight: 700;
    margin-top: 25px;
}
.brands-info{
    background-color: white;
    width: 100%;
    margin-bottom: 0px;
   }
.brands-icons{
    padding-bottom:120px ;
    margin-bottom: 0px;
}
.brands-text{
width: 445px;
height: 82px;
margin: 0 auto 0 auto;
padding-top: 40px;
}
.brands-content-text{
    width: 445px;
    height: 62px; 
}
.icofont-brand-xiaomi, .icofont-tinder,.icofont-brand-apple,.icofont-brand-amd{
    color: gray;
}
h2{
    font-size: 40px;
}
footer{
    background-color: rgb(99, 97, 97);
    color: ivory;
    height: 240px;

}
.email{
width: 170px;
height: 40px;
}
.block-contacts .button{
    width: 110px;
    height: 40px;
    background-color: rgb(134, 126, 126);
}
.block-contacts div, .news-menu div, .news-social-icons{
    margin: 20px;
}
.block-contacts{
    border-bottom: 1px solid ivory;
    margin-bottom: 0px;
}
.news-social-icons i{
    color: ivory;
}